.comments
  - for comment in @comments do
    .comment
      .text
        %p= comment.text
      .meta
        %p
          = comment.user.name if comment.user
          \-
          = time_ago_in_words comment.created_at
          ago
      %hr

- form_for Comment.new do |f|
  %p= f.text_field :user_name
  %p= f.text_area :text
  %p= f.submit "Say"