%h1= "Edit Album \"#{@album.name}\""
%h2 you wanna change something?

= render :partial => 'form'

.actions
  %p= link_to "Show the album", resource_path
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Edit photos of the album", album_photos_path(@album)  
  %p= link_to "Back to list of albums", collection_path
