%h1 Albums
%h2 because pictures tell more

/ 
  - form_tag albums_path, :method => 'get' do
    %p search an album
    = text_field_tag :search, params[:search], :style => "width: 20em"
    = submit_tag "Search"
    
%table    
  - @albums.in_groups_of(3, false) do |albums_row|
    %tr
      - for album in albums_row
        %td
          %p= link_to image_tag(album.photos.first.image.url(:medium)), album
          %p= album.name
          %p 27 Sep 2009
          
%p= link_to "Create a new album", new_resource_path