%h1 Albums
%h2 ...because pictures tell more

%table{:align => 'center'}    
  - @albums.in_groups_of(3, false) do |albums_row|
    %tr
      - for album in albums_row
        %td
          %p= link_to album.name, album        
          %p= link_to image_tag(album.photos.first.image.url(:medium), :class => 'album'), album if album.photos.first

          %p
            = date album.starts_at, :year => false
            \-
            = date album.ends_at, :year => false
            %br
            = year album.ends_at            

.clear

.actions
  %p= link_to "Create a new album", new_resource_path