- content_for :head do
  = auto_discovery_link_tag(:atom, albums_url(:format => :atom))

%h1 Albums
%h2 ...because pictures tell more

.albums
  - @albums.each do |album|
    .album
      .meta
        %p
          %span#name
            = link_to album.name, album
            - unless album.published?
              (unpublished)
          %span#date= timespan album.starts_at, album.ends_at, :year => true
      %hr
      .body
        %p
          .thumb= link_to image_tag(album.thumbnail.image.url(:medium), :class => 'album_thumb'), album if album.thumbnail
          .description
            %p= simple_format album.description
            - if album.comments.any?
              %p= link_to pluralize(album.comments.size, "Comment"), album_path(album, :anchor => 'comments')
            - if logged_in?  
              %p
                View Count:
                = album.view_count
              %p= link_to "[edit]", edit_resource_path(album) if logged_in?
          .clear

%p.actions.small
  = image_tag 'feed.png'
  = link_to 'keep me in the loop', albums_path(:format => :atom)

- if logged_in?
  .actions
    %p= link_to "Create a new album", new_resource_path