%h1 Albums
%h2 ...because pictures tell more

.albums
  - @albums.each do |album|
    .album
      .meta
        %p
          %span.date
            = link_to album.name, album
            %br
            = timespan album.starts_at, album.ends_at, :year => true
      %hr
      .body
        %p
          .thumb= link_to image_tag(album.thumbnail.image.url(:medium), :class => 'album_thumb'), album if album.thumbnail
          .description= simple_format album.description
          .clear

/
  .actions
    %p= link_to "Create a new album", new_resource_path