%h1 Albums
%h2 ...because pictures tell more

.albums
  - @albums.each do |album|
    .album
      .meta
        %p
          = link_to album.name, album
          %br
          = date album.starts_at, :year => false
          \-
          = date album.ends_at, :year => false
          = year album.ends_at
        
      %hr
      .body
        %p
          .thumb= link_to image_tag(album.photos.first.image.url(:medium), :class => 'album_thumb'), album if album.photos.first
          .description= album.description
          .clear

.actions
  %p= link_to "Create a new album", new_resource_path