%h1 Create Album
%h2 can't get enough?

%table
  - form_for @album, :html => { :multipart => true } do |f|
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr  
      %td= f.label :description
      %td= f.text_area :description
    %tr  
      %td= f.label :starts_at
      %td= f.date_select :starts_at
    %tr
      %td= f.label :ends_at
      %td= f.date_select :ends_at
    %tr  
      %td= f.label :package
      %td= f.file_field :package
    %tr
      %td{:colspan => 2}= f.submit "Save"
          
%p= link_to "Back to list of albums", collection_path