%h1= @album.name
%h2= @album.description

/ 
  - form_tag albums_path, :method => 'get' do
    %p search an album
    = text_field_tag :search, params[:search], :style => "width: 20em"
    = submit_tag "Search"
    
%table    
  - @album.photos.in_groups_of(3, false) do |photos_row|
    %tr
      - for photo in photos_row
        %td
          %p= link_to image_tag(photo.image.url(:medium)), resource_path
          %p= photo.description
          
%p= link_to "Add photos to album", new_album_photo_path(@album)
%p= link_to "Customize this album", edit_resource_path
%p= link_to "Back to list of albums", collection_path