- javascript 'jquery.galleria.min', 'galleria', 'comments'
- stylesheet 'galleria'

%h1= @album.name

- if @album.photos.any?

  #main_image

  %p.nav
    = link_to "&laquo; previous", '#', :onclick => "$.galleria.prev(); return false;"
    |
    = link_to "next &raquo;", '#', :onclick => "$.galleria.next(); return false;"

  %ul.gallery
    - @photos.each_with_index do |photo, index|
      - if index > 0
        %li= link_to image_tag(photo.image.url(:thumb)), photo.image.url(:large), :title => photo.description
      - else
        %li.active= link_to image_tag(photo.image.url(:thumb)), photo.image.url(:large), :title => photo.description

  .clear

  %p.download
    = link_to "Download all with max quality (#{number_to_human_size @album.package_file_size})", @album.package.url

  %h1 Comments
  %h2 ...because humans tell most

  .comments
    = render :partial => @comments

  .new_comment
    - form_for [@album, @comment], :html => { :id => 'new_comment' } do |f|
      %p
        = f.label :text, "Your Comment"
        %br
        = f.text_area :text
      %p
        = f.label :user_name, "Your Name"
        %br
        = f.text_field :user_name
      
      %p
        = f.submit "Say it!"
        
- else
  %p.empty There aren't any photos in this album

.actions
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Edit photos of the album", album_photos_path(@album)  
  %p= link_to "Customize this album", edit_resource_path
  %p= link_to "Back to list of albums", collection_path
  %p= link_to 'Delete this album', resource_path, :confirm => 'Are you sure?', :method => :delete