- javascript 'jquery.galleria.min', 'galleria'
- stylesheet 'galleria'

%h1= @album.name
%h2= @album.description
    
#main_image

%ul.galleria
  - for photo in @album.photos
    %li= "<img class='noscale' src='#{photo.image.url(:large)}' title='#{photo.description}' alt='#{photo.image_file_name}'>"
    
%p.nav
  <a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a>
    
    
/
  %table    
    - @album.photos.in_groups_of(3, false) do |photos_row|
      %tr
        - for photo in photos_row
          %td
            %p= link_to image_tag(photo.image.url(:medium)), album_photo_path(@album, photo)
            %p= photo.description

.clear

.actions
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Customize this album", edit_resource_path
  %p= link_to "Back to list of albums", collection_path
  %p= link_to 'Delete this album', resource_path, :confirm => 'Are you sure?', :method => :delete
