.actions
  = image_tag(@photo.image.url(:medium))

- semantic_form_for @photo, :url => @photo.new_record? ? collection_path : resource_path, :html => { :multipart => true } do |f|
  - f.inputs do
    = f.input :description
    = f.input :image
    = f.input :thumbnail, :as => :boolean
  - f.buttons do
    = f.submit "Submit"