%h1= @album.name
%h2= @album.description
    
#main_image

%table
  - form_tag update_multiple_album_photos_path(@album), :method => :put do
    - @photos.each do |photo|
      %tr
        %td
          = link_to image_tag(photo.image.url(:thumb)), album_photo_path(@album, photo)
        %td
          = text_area_tag "photo[#{photo.id}][description]", photo.description
    %tr
      %td
        = submit_tag "Save!"

.clear

.actions
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Back to album", parent_path
