%h1= @album.name
%h2= @album.description
    
- form_tag sort_album_photos_path, :method => :put do
  %ul#photos.sortable
    - @photos.each do |photo|
      %li[photo]
        = hidden_field_tag 'photos[]', photo.id
        = link_to image_tag(photo.image.url(:thumb)), photo.image.url(:large), :class => 'thickbox', :title => link_to(photo.name, album_photo_path(@album, photo))
        = link_to_remote 'delete', :url => album_photo_path(@album, photo), :method => :delete

.clear

.actions
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Change descriptions of photos", descriptions_album_photos_path(@album)  
  %p= link_to "Show the album", parent_path
