- javascript 'jquery-ui.min', 'jquery.form', 'sortable'
- stylesheet 'jquery-ui/humanity/jquery-ui'

%h1= @album.name
%h2= @album.description
    
- form_tag sort_album_photos_path, :method => :put do
  %ul#photos.sortable
    - @photos.each do |photo|
      %li
        = hidden_field_tag 'photos[]', photo.id
        = link_to image_tag(photo.image.url(:thumb)), album_photo_path(@album, photo)
        - text_field_tag "photo[#{photo.id}][description]", photo.description
        - link_to 'delete', album_photo_path(@album, photo), :confirm => 'Are you sure?', :method => :delete

.clear

.actions
  %p= link_to "Add photos to album", new_album_photo_path(@album)
  %p= link_to "Change descriptions of photos", descriptions_album_photos_path(@album)  
  %p= link_to "Show the album", parent_path
