%h1= @photo.album.name if @photo.album
%h2= @photo.description

.image
  %p= link_to image_tag(@photo.image.url(:large)), @photo.image.url(:original)

%p= link_to "Customize this photo", edit_resource_path
%p= link_to "Back to album", parent_path